/* ====================================================
        FRONTEND MENTOR - CLIPBOARD LANDING PAGE
        AUTHOR: ARATI D'SA
======================================================== */

/* ===================================================
            CSS RESET
======================================================= */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* ===================================================
            CUSTOM PROPERTIES
======================================================= */
:root{
    /* COLORS */
    --color-gray-50: #F5F7F7;
    --color-gray-500: #9EABB2;
    --color-green-500: #26BBA4;
    --color-blue-500: #6174FF;
    --color-gray-700: #4C545C;
    --color-white: #FFF;

    /* FONT FAMILY */
    --font-family-bai: 'Bai Jamjuree', sans-serif;

    /* FONT WEIGHT */
    --font-weight-400: 400;
    --font-weight-600: 600; 
    --font-weight-700: 700;

    /*  FONT SIZE */
    --font-size-16: 1rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;

    /* SPACING */
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-700: 3.5rem;
    --spacing-800: 4rem;
    --spacing-900: 4.5rem;
}

/* ===================================================
            GLOBAL STYLES
======================================================= */
body{
    font-family: var(--font-family-bai);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-16);
    line-height: 1.5;
    color: var(--color-gray-500);
    background-color: var(--color-white);
}

/* ===================================================
            MOBILE LAYOUT
======================================================= */

    /* HERO SECTION */
.hero{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    padding-inline: 1.78rem;    
}
.logo{
    margin-block-start: 7.69rem;
}
.heading{
    margin-block-start: var(--spacing-800);
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: -0.03rem;
    color: var(--color-gray-700);
    font-weight: var(--font-weight-600);    
    text-align: center;
}
.description{
    margin-block-start: var(--spacing-200);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.009rem;
}
.button-container{
    margin-block-start: var(--spacing-700);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-300);
    width: 100%;
}
.btn{
    width: 100%;
    height: 3.5rem;
    border-radius: 1.75rem;
    font-size: var(--font-size-20); 
    font-weight: var(--font-weight-600);
    line-height: 1.5;
    letter-spacing: 0.03rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
}
.btn-ios{
    background-color: var(--color-green-500);
}
.btn-mac{
    background-color: var(--color-blue-500);
}

/* MAIN CONTAINER */
.main-container{
    margin-block-start: 9.88rem;
    width: 100%;
    padding-inline: 1.78rem;
    text-align: center;
}

/* TRACK SNIPPETS */
.snippets-title{
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-600);
    line-height: 1.25;
    letter-spacing: -0.03rem;
    color: var(--color-gray-700);
}
.snippets-description{
    margin-block-start: var(--spacing-200);
    color: var(--color-gray-500);
    line-height: 1.5;
    letter-spacing: 0.009rem;
}
.computer-image-container{
    margin-block: var(--spacing-900);    
}
.computer-img{
    height: 14.88rem;
    margin-inline: auto;
}

/* FEATURES SECTION */
.features-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-700);
    width: 100%;
    max-width: 19.5rem;
    margin-inline: auto;
}
.feature-title{
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-600);
    line-height: 1.25;
    letter-spacing: -0.03rem;
    color: var(--color-gray-700);
    margin-block-end: var(--spacing-100);
}
.feature-description{
    color: var(--color-gray-500);
    line-height: 1.5;
    letter-spacing: 0.009rem;
    text-align: center;
}

/* ACCESS SECTION */
.access-section{
    margin-block-start: 9.88rem;
    width: 100%;
    max-width: 19.44rem;
    margin-inline: auto;
}
.access-title{
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-600);
    line-height: 1.25;
    letter-spacing: -0.03rem;
    color: var(--color-gray-700);
}
.access-title span{
    text-transform: capitalize;
}
.access-description{
    margin-block-start: var(--spacing-200);
    color: var(--color-gray-500);
    line-height: 1.5;
    letter-spacing: 0.009rem;
}
.devices-image-container{
    margin-block-start: var(--spacing-900);
}
.devices-img{
    width: 100%;
    max-width: 19.38rem;
    height: 11.29rem;
}