/* ====================================================
        FRONTEND MENTOR - CLIPBOARD LANDING PAGE
        AUTHOR: ARATI D'SA
======================================================== */

/* ===================================================
            CSS RESET
======================================================= */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* ===================================================
            CUSTOM PROPERTIES
======================================================= */
:root{
    /* COLORS */
    --color-gray-50: #F5F7F7;
    --color-gray-500: #9EABB2;
    --color-green-500: #26BBA4;
    --color-blue-500: #6174FF;
    --color-gray-700: #4C545C;
    --color-white: #FFF;

    /* FONT FAMILY */
    --font-family-bai: 'Bai Jamjuree', sans-serif;

    /* FONT WEIGHT */
    --font-weight-400: 400;
    --font-weight-600: 600; 
    --font-weight-700: 700;

    /*  FONT SIZE */
    --font-size-16: 1rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;
    --font-size-36: 2.25rem;

    /* SPACING */
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-700: 3.5rem;
    --spacing-800: 4rem;
    --spacing-900: 4.5rem;
    --spacing-1000: 5rem;
    --spacing-1100: 5.5rem;
    --spacing-1200: 6rem;
}

/* ===================================================
            TYPOGRAPHY
======================================================= */

 /* Section Headings */
.section-title{
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-600);
    line-height: 1.25;
    letter-spacing: -0.03rem;
    color: var(--color-gray-700);
}

/* Section Description */
.section-description{
    line-height: 1.5;
    letter-spacing: 0.009rem;
    color: var(--color-gray-500);
    margin-block-start: var(--spacing-200);
}

/* Feature Title */
.feature-title{
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-600);
    line-height: 1.25;
    letter-spacing: -0.03rem;
    color: var(--color-gray-700);
}

/* ===============================================
             SHARED LAYOUT
=================================================== */
/* ---------- SHARED SPACING  ---------- */
.main-container,.access-section,.companies-section,
.supercharge-workflow-section,.download-section,
.footer-section{
    margin-block-start: 9.88rem;
}

/* ----------- SHARED CONTAINERS ----------- */
.hero,.main-container,.features-section,.access-section,
.supercharge-workflow-section,.companies-section,
.download-section,.footer-section{
    width: 100%; 
}

/* ---------- SHARED CONTAINER ALIGNMENT ---------- */
.features-section,.access-section,
.supercharge-workflow-section,
.companies-section,.download-section{   
    margin-inline: auto;
}

/* ----------- Flex Layout ------------ */

/* Flex Column */
.hero,.button-container,.features-section,
.workflow-features,.workflows,.companies-list,
.download-section,.footer-section,.footer-links{    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===================================================
            GLOBAL STYLES
======================================================= */
body{
    font-family: var(--font-family-bai);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-16);
    line-height: 1.5;
    color: var(--color-gray-500);
    background-color: var(--color-white);
}

/* ===================================================
            MOBILE LAYOUT
======================================================= */

    /* HERO SECTION */
.hero{    
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-inline: 1.78rem;        
}
.logo{
    margin-block-start: 7.69rem;
}
.heading{
    margin-block-start: var(--spacing-800);
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: -0.03rem;
    color: var(--color-gray-700);
    font-weight: var(--font-weight-600);    
    text-align: center;
}
.description{
    margin-block-start: var(--spacing-200);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.009rem;
}
.button-container{
    margin-block-start: var(--spacing-700);
    gap: var(--spacing-300);
    max-width: 318px;
    width: 100%; 
}
.btn{
    height: 3.5rem;
    border-radius: 1.75rem;
    font-size: var(--font-size-20); 
    font-weight: var(--font-weight-600);
    line-height: 1.5;
    letter-spacing: 0.03rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
    width: 100%; 
}
.btn-ios{
    background-color: var(--color-green-500);
}
.btn-mac{
    background-color: var(--color-blue-500);
}

/* MAIN CONTAINER */
.main-container{
    padding-inline: 1.78rem;
    text-align: center;
}

/* TRACK SNIPPETS */
.computer-image-container{
    margin-block: var(--spacing-900);    
}
.computer-img{
    height: 14.88rem;
    margin-inline: auto;
}

/* FEATURES SECTION */
.features-section{
    gap: var(--spacing-700);
    max-width: 19.5rem;
}
.track-snippets-feature-title{
    margin-block-end: var(--spacing-100);
}
.feature-description{
    color: var(--color-gray-500);
    line-height: 1.5;
    letter-spacing: 0.009rem;
    text-align: center;
}

/* ACCESS SECTION */
.access-section{
    max-width: 19.44rem;
}
.access-title span{
    text-transform: capitalize;
}
.devices-image-container{
    margin-block-start: var(--spacing-900);
}
.devices-img{
    max-width: 19.38rem;
    height: 11.29rem;
    width: 100%;
}

/* SUPERCHARGE WORKFLOW */
.supercharge-workflow-section{
    max-width: 19.44rem;
}
.workflow-features{
    margin-block-start: var(--spacing-1100);
    gap: var(--spacing-800);
}
.workflow-feature-title{
    margin-block-start: var(--spacing-500);
    margin-block-end: var(--spacing-200);
}

/* COMPANIES USING CLIPBOARD */
.companies-section{
    max-width: 8.69rem;
}
.companies-list{
    gap: var(--spacing-700);
    list-style-type: none;
}
.google-img{    
    max-width: 8.69rem;
    height: 2.56rem;
}
.ibm-img{
    max-width: 7.56rem;
    height: 3.75rem;
}
.microsoft-img{
    max-width: 8.44rem;
    height: 2.5rem;
}
.hp-img{
    max-width: 7.06rem;
    height: 2.94rem;
}
.vector-graphics-img{
    max-width: 6.56rem;
    height: 1.56rem;
}

/* DOWNLOAD SECTION */
.download-section{
    text-align: center;
}

/* FOOTER SECTION */
.footer-section{
   background-color: var(--color-gray-50);
   gap: var(--spacing-400);
   min-height: 31.25rem;
   justify-content: center;
}
.footer-logo{
    width: 3.44rem;
    height: 3.44rem;
}
.footer-links{
    gap: var(--spacing-300);
}
.link-item{
    text-decoration: none;
    font-size: var(--font-size-20);
    line-height: 1.5;
    letter-spacing: 0.009rem;
    color: var(--color-gray-700);
}
.social-media-links{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-500);
}

/* ===================================================
            TABLET LAYOUT
======================================================= */
@media screen and (min-width: 48rem) {
    /* ===============================================
            TYPOGRAPHY
======================================================= */

    /* Section Headings */
    .section-title{
        font-size: var(--font-size-36);
        letter-spacing: -0.04rem;
    }

    /* Section Description */
    .section-description{
        font-size: var(--font-size-20);
    }


        /* HERO SECTION */
    .hero{    
        padding-inline: 4.75rem;        
    }
    .logo{
        margin-block-start: 8.19rem;
    }
    .heading{
        margin-block-start: var(--spacing-700);
        font-size: 2.5rem;
        letter-spacing: -0.05rem;
    }
    .description{
        font-size: var(--font-size-20);
    }
    .button-container{
        margin-block-start: var(--spacing-600);
        gap: var(--spacing-200);
        max-width: 470px;
        flex-direction: row;
    } 

    /* MAIN CONTAINER */
    .main-container{
        padding-inline: 4.75rem;
    } 

    /* TRACK SNIPPETS */
    .computer-image-container{
        margin-block: var(--spacing-1200);    
    }
    .computer-img{
        height: 28.90rem;
    } 
    
    /* FEATURES SECTION */
    .features-section{
        gap: var(--spacing-800);
        max-width: 21.88rem;
    }
    .track-snippets-feature-title{
        margin-block-end: var(--spacing-100);
    }

    /* ACCESS SECTION */
    .access-section{
        max-width: 38.5rem;
    }
    .devices-image-container{
        margin-block-start: var(--spacing-1000);
    }
    .devices-img{
        max-width: 37.91rem;
        height: 22.06rem;
    }

    /* SUPERCHARGE WORKFLOW */
    .supercharge-workflow-section{
        max-width: 38.5rem;
    }
    .workflow-features{
        margin-block-start: var(--spacing-900);
        gap: var(--spacing-600);
    }
    .workflows{
        max-width: 25rem;
        width: 100%;
    }

    /* COMPANIES USING CLIPBOARD */
    .companies-section{
        max-width: 37.01rem;
    }
    .companies-list{
        column-gap: var(--spacing-1000);
        row-gap: var(--spacing-700);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .google-img{    
        max-width: 9.5rem;
        height: 2.82rem;
    }
    .ibm-img{
        max-width: 8.29rem;
        height: 4.15rem;
    }
    .microsoft-img{
        max-width: 9.21rem;
        height: 2.76rem;
    }
    .hp-img{
        max-width: 7.72rem;
        height: 3.22rem;
    }
    .vector-graphics-img{
        max-width: 7.2rem;
        height: 1.73rem;
    }   
}